Oracle Bot/_configuration.json
Oracle Bot/obj/Debug/netcoreapp2.0/Oracle Bot.csproj.CoreCompileInputs.cache
Oracle Bot/obj/Oracle Bot.csproj.nuget.cache
Oracle Bot/obj/Oracle Bot.csproj.nuget.cache
Oracle Bot/obj/Oracle Bot.csproj.nuget.g.props
Oracle Bot/obj/Oracle Bot.csproj.nuget.g.targets
Oracle Bot/obj/project.assets.json
Oracle Bot/obj/Debug/netcoreapp2.0/Oracle Bot.csproj.CoreCompileInputs.cache
Oracle Bot/obj/Debug/netcoreapp2.0/Oracle Bot.csproj.CoreCompileInputs.cache
